<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
     @include('admin.layouts.head')
<body>
     @include('admin.layouts.navbar')
     <div class="page-content">
          @include('admin.layouts.slidebar')
               <div class="content-wrapper">
                    <div class="content-inner">
                         @include('admin.layouts.header')
                         @yield('content')
                         @include('admin.layouts.footer')
                    </div>
                    <div class="btn-to-top"><button class="btn btn-secondary btn-icon rounded-pill" type="button"><i class="ph-arrow-up"></i></button></div>
               </div>
     </div>
     @include('admin.layouts.notifications')
     @yield('scripts')
</body>
</html>